body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 1fr 1fr;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-areas:
    "framework voice voice logo typography"
    "framework colors center logo motion"
    "icons colors imagery imagery motion";
}

@media (max-width: 1008px) {
  .box {
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 1fr 100px 1fr 1fr;
    grid-template-areas:
      "framework voice voice"
      "logo logo typography"
      "icons center typography"
      "icons colors colors"
      "imagery imagery motion";
  }
}
.tile {
  @apply relative z-10 h-full  p-5;
  @apply flex flex-col text-4xl font-semibold tracking-tight;
  @apply transition duration-300 ease-in-out
  @apply hover:(bg-black text-white);
}

.lines {
  @apply relative animate-(fade-in duration-600);
}

.lines:before {
  @apply absolute content-[""] inset-[0_-300vw] border-(y slate2);
}

.lines:after {
  @apply absolute content-[""] inset-[-300vw_0] border-(x slate2);
}
